// fonts
$openSans: 'Open Sans', sans-serif;
$pressStart: 'Press Start 2P', cursive;
// colors
$darkGrey: #2c2c2c;
$mainDark: #6b2d5c;
$mainIntense: #f0386b;
$mainMedium: #ff5376;
$mainLight: #ff99ae;
$mainPale: #f8c0c8;
$sand: #e2c290;
