.movies-section {
  display: flex;
  min-height: calc(100vh - 120px);
  border-bottom: solid $darkGrey 2px;
  @include mobile {
    flex-direction: column;
  }
}

.favorites {
  background-color: rgba($color: white, $alpha: 0.1);
  width: 40%;
  min-width: 320px;
  padding: 10px 20px 20px 20px;
  @include mobile {
    width: 100%;
  }
  &__title {
    font-family: $openSans;
    font-weight: 400;
    font-size: 20px;
    color: $mainMedium;
    margin-bottom: 10px;
    @include mobile {
      margin: 20px;
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
}

.results {
  width: 60%;
  padding: 10px 20px;
  @include mobile {
    width: 100%;
  }
  &__title {
    font-family: $openSans;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    @include mobile {
      margin: 30px;
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include mobile {
      justify-content: center;
    }
  }
}

.movie {
  background-color: rgba($color: white, $alpha: 0.1);
  display: inline;
  text-align: center;
  width: 200px;
  max-height: 360px;
  padding-bottom: 10px;
  margin: 15px;
  &__img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  &__title {
    display: inline-block;
    width: 200px;
    height: 45px;
    font-family: $openSans;
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding: 0 10px;
    margin: 5px 0;
    overflow: hidden;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 5px rgba($color: $sand, $alpha: 0.5);
    transition: box-shadow 0.1s ease, transform 0.1s ease;
  }
}

.favmovie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-top: 1.5px solid $darkGrey;
  border-bottom: 1.5px solid $darkGrey;
  &__img {
    width: 100px;
    border-radius: 5px;
  }
  &__title {
    flex-grow: 1;
    font-family: $openSans;
    font-weight: 400;
    font-size: 16px;
    color: $mainPale;
    padding: 0 20px;
  }
  &__synopsis {
    font-family: $openSans;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 30px 10px 20px;
    color: white;
  }
  &:hover .favmovie__title {
    color: $mainLight;
    transition: color 0.2s ease;
  }
}

.favmovie-container {
  width: 100%;
}

.delete-button {
  align-self: center;
  background-color: $darkGrey;
  width: 200px;
  height: 35px;
  font-size: 16px;
  color: gray;
  margin: 0 5px;
  border: none;
  border-radius: 35px;
  margin: 30px 0;
  &:hover {
    color: $sand;
    border: solid 2px rgba($color: $sand, $alpha: 0.3);
  }
}

.fa-trash-alt {
  padding-right: 10px;
}

.fa-star {
  color: rgba($color: $darkGrey, $alpha: 0.7);
  position: absolute;
  transform: translateX(160px);
  padding: 5px;
  font-size: 20px;
  margin: 5px 0;
}
.fa-times-circle {
  font-size: 30px;
  color: rgba($color: grey, $alpha: 0.5);
  padding: 5px;
  &:hover {
    color: rgba($color: $sand, $alpha: 0.5);
  }
}

.faved {
  box-sizing: content-box;
  background-color: rgba($color: $mainPale, $alpha: 0.2);
  color: $mainIntense;
  border: solid $mainIntense 3px;
}

.highlighted {
  color: $mainIntense;
  transition: color 0.1s ease;
}

.error-msg {
  font-family: $openSans;
  font-size: 14px;
  color: grey;
}
