body {
  padding: 2rem;
  height: 100vh;
}

.movies-section {
  display: flex;
  flex-direction: row;
}

.favorites {
  width: 45%;
  background-color: palegoldenrod;
  margin: 5px;
}

.results {
  width: 45%;
  background-color: pink;
  margin: 5px;
}
