body {
  padding: 2rem;
  height: 100vh;
}

.movies-section {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.favorites {
  width: 40%;
  background-color: palegoldenrod;
  padding: 10px;
  margin: 5px;
}

.results {
  width: 60%;
  background-color: pink;
  padding: 10px;
  margin: 5px;
}
